.contenu{
    background-color: #E5E5E5;
}

.titre{

}

img{
    float:left;
    margin-bottom: 30px;
}

.theme{
   
}

.description{
    
}

.moins{
    border: none;
    color: red;
    padding: 4px;
}

.vote{
    border:1px solid;
    padding: 3px;
}

.plus{
    border: none;
    color: green;
    padding: 4px;
}


.lien_deal{
    border-left: none;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #35B729;
    border: 1px solid black;
    padding: 7px;
}