.form-group{
    background-color: #E5E5E5;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 10px;
    text-align:center;
}

.titre{
    font-size: 25px;
    height: 35px;
    margin-bottom: 0px;
}

.description{
    font-size: 15px;
    margin-top: 40px;
    text-align: center;

}


.btn-primary{
    border: none;
    background-color: #35B729;
    display: block;
    margin : auto;
    float: auto;
    margin-top: 15px;
}

