          <div>
          <div class="form-group" >
            <form class="container p-5">
                <p class="titre">Poster votre deal </p>
              <label for="exampleFormControlInput1">Titre</label>
              <input type="email" class="form-control" id="exampleFormControlInput1">

              <label for="exampleFormControlSelect1">Thème</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>High-tech</option>
                <option>Maison & habitat </option> 
                <option>Épicerie & courses </option>
                <option>Mode & accessoires</option>
                <option>Jardin & bricolage</option>
              </select>

              <label for="exampleFormControlInput1">Lien du deal</label>
              <input type="email" class="form-control" id="exampleFormControlInput1">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
            </div>
        </div>
        
 

