<header>
    <div class="header d-flex justify-content-around align-items-center">
        <div class="logo">
            <img src="../../../assets/img/logo.png" alt="logo_dealkorner">
        </div>
        <div class="searchBar">
            <form class="form-inline">
                <input class="form-control mr-sm-2 col-9" type="search" placeholder="Recherche..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
              </form>
        </div>
        <div class="buttons mr-5">
            <button class="btn btn-info text-light mr-3 "><i class="fas fa-user mr-2"></i>Connexion</button>
            <button class="btn btnPost"><i class="fas fa-plus" href="/createdeal"></i> Poster...</button> 
        </div>
    </div>
</header>
<section class="sectionFilter">
    <h3>Trier par filtre</h3>
    <div class="d-flex container justify-content-center">
        <div class="glow-on-hover filtre1 filtre mt-2 mb-5 ml-4 mr-4 d-flex align-items-center">
            <span><a href="/">High-tech</a></span>
        </div>
        <div class="glow-on-hover filtre2 filtre mt-2 mb-5 ml-4 mr-4 d-flex align-items-center">
            <span>Maison &<br> habitat</span>
        </div>
        <div class="glow-on-hover filtre3 filtre mt-2 mb-5 ml-4 mr-4 d-flex align-items-center">
            <span>Épicerie & <br> courses</span>
        </div>
        <div class="glow-on-hover filtre4 filtre mt-2 mb-5 ml-4 mr-4 d-flex align-items-center">
            <span>Mode &<br> accessoires</span>
        </div>
        <div class="glow-on-hover filtre5 filtre mt-2 mb-5 ml-4 mr-4 d-flex align-items-center">
            <span>Jardin &<br> bricolage</span>
        </div>
    </div>

</section>
