header {
    background-color: #191919;
    height: 100px;
}
.searchBar{
    width: 30%;
}
.searchBar button{
    color: #35b729;
    background-color: transparent;
    background-image: none;
    border-color: #35b729;
}
.searchBar button:hover{
    color: whitesmoke;
    background-color: #35b729;
}
.logo img{
    max-width: 300px;
}
.header{
    height: 100px;  
}
.btnPost{
    background-color: #35b729;
    color:whitesmoke;
}

