<<<<<<< HEAD:dealkorner/src/app/components/contenu/contenu.component.css
.form-group{
    background-color: #E5E5E5;
=======

  .form-group{
>>>>>>> 18b28cf9ee135ae55ec31dbf1902fbaa50f1c73b:dealkorner/src/app/components/listedeal/listedeal.component.css
    height: 200px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 100px;
    text-align:center;
    border-color: blue;
}

.titre{
    font-size: 25px;
    height: 35px;
    margin-bottom: 0px;
}

.description{
    font-size: 15px;
    margin-top: 40px;
    text-align: center;

}

.vote{
    float: right;
    padding-bottom: 0px;
    background-color: #FFFFFF;
}

p.vote{
    text-align: center;
}

.btn-primary{
    border: none;
    background-color: #35B729;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
<<<<<<< HEAD:dealkorner/src/app/components/contenu/contenu.component.css
}

img{
    float: left;
    margin-bottom: 100px;
}
=======
} 
>>>>>>> 18b28cf9ee135ae55ec31dbf1902fbaa50f1c73b:dealkorner/src/app/components/listedeal/listedeal.component.css
