.form-group{
    background-color: #E5E5E5;
    height: 200px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 10px;
    text-align:center;
}

.titre{
    font-size: 25px;
    height: 35px;
    margin-bottom: 0px;
}

.description{
    font-size: 15px;
    margin-top: 40px;
    text-align: center;

}

.vote{
    float: right;
    padding-bottom: 00px;
    background-color: #FFFFFF;
}

p.vote{
    text-align: center;
}

.btn-primary{
    border: none;
    background-color: #35B729;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
}

img{
    float: left;
    margin-bottom: 30px;
}

.vote{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    border-radius: 5px;
    color: #35B729;
}