<div class="form-group">
  <p class="titre">Samsung S8 </p>
  <img src="https://www.cdiscount.com/pdt2/8/9/1/1/300x300/auc4894736634891/rw/samsung-s8-64go-bleu-euro.jpg" width="150" height="150" alt="">
      <p class="description">Livraison gratuite à domicile. Même si la fiche produit correspond à la 55B9, une fois que vous passez l'étape de livraison la TV est remplacée par la 55B9S.
          Vous pouvez retrouver l'historique complet des tarifs de cette TV via ce lien.Testée par LesNumériques.Si vous souhaitez avoir une comparaison des caractéristiques techniques entre le modèle 55B9 et 55C9, vous pouvez utiliser ce lien.
      </p>
  <button type="submit" class="btn btn-primary">Voir le deal</button>
  <div class="vote">
    500
  </div>
</div>
<div class="form-group">
  <p class="titre">Samsung S8 </p>
  <img src="https://www.cdiscount.com/pdt2/8/9/1/1/300x300/auc4894736634891/rw/samsung-s8-64go-bleu-euro.jpg" width="150" height="150" alt="">
      <p class="description">Livraison gratuite à domicile. Même si la fiche produit correspond à la 55B9, une fois que vous passez l'étape de livraison la TV est remplacée par la 55B9S.
          Vous pouvez retrouver l'historique complet des tarifs de cette TV via ce lien.Testée par LesNumériques.Si vous souhaitez avoir une comparaison des caractéristiques techniques entre le modèle 55B9 et 55C9, vous pouvez utiliser ce lien.
      </p>
  <button type="submit" class="btn btn-primary">Voir le deal</button>
  <div class="vote">
    500
  </div>
</div>
<div class="form-group">
  <p class="titre">Samsung S8 </p>
  <img src="https://www.cdiscount.com/pdt2/8/9/1/1/300x300/auc4894736634891/rw/samsung-s8-64go-bleu-euro.jpg" width="150" height="150" alt="">
      <p class="description">Livraison gratuite à domicile. Même si la fiche produit correspond à la 55B9, une fois que vous passez l'étape de livraison la TV est remplacée par la 55B9S.
          Vous pouvez retrouver l'historique complet des tarifs de cette TV via ce lien.Testée par LesNumériques.Si vous souhaitez avoir une comparaison des caractéristiques techniques entre le modèle 55B9 et 55C9, vous pouvez utiliser ce lien.
      </p>
  <button type="submit" class="btn btn-primary">Voir le deal</button>
    <div class="vote">
      500
    </div>
  <!--<div class="vote">
      <p>500</p>
  </div> -->
</div>
  <div class="form-group">
    <p class="titre">Samsung S8 </p>
    <img src="https://www.cdiscount.com/pdt2/8/9/1/1/300x300/auc4894736634891/rw/samsung-s8-64go-bleu-euro.jpg" width="150" height="150" alt="">
        <p class="description">Livraison gratuite à domicile. Même si la fiche produit correspond à la 55B9, une fois que vous passez l'étape de livraison la TV est remplacée par la 55B9S.
          Vous pouvez retrouver l'historique complet des tarifs de cette TV via ce lien.Testée par LesNumériques.Si vous souhaitez avoir une comparaison des caractéristiques techniques entre le modèle 55B9 et 55C9, vous pouvez utiliser ce lien.
        </p>
    <button type="submit" class="btn btn-primary">Voir le deal</button>
      <div class="vote">
        500
      </div>
  </div>